<a href="https://colab.research.google.com/github/carolabello/preparapy/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Say "Hello, World!" With Python

Print Hello, World! to stdout.

In [ ]:
print("Hello, World!")

Hello, World!

# Arithmetic Operators

Add code to print three lines where:

The first line contains the sum of the two numbers.

The second line contains the difference of the two numbers (first - second).

The third line contains the product of the two numbers.

Sample input 0:

3

2

In [ ]:
if __name__ == '__main__':
    a = int(3)
    b = int(2)

    print(a+b)
    print(a-b)
    print(a*b)

5
1
6

# Python: Division

In [ ]:
a=4
b=3
print (a//b)
print (a/b)

1
1.3333333333333333

Assim não roda:

In [ ]:
if __name__ == '__main__':
    a = int(input(4))
    b = int(input(3))
    print(a.py//b)
    print(a/b)

Assim roda:

In [ ]:
if __name__ == '__main__':
    a = int(4)
    b = int(3)
    print(a//b)
    print(a/b)

1
1.3333333333333333

# Loops

For all non-negative integers ***i<n***, print ***i²***.

Print ***n*** lines, one corresponding to each ***i***

Constraints:    1<= n <= 20

NÃO FUNCIONA:

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(0,n):
        print(i*i)

In [ ]:
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
i = 0
list(range(1,21))

FUNCIONA:

In [ ]:
if __name__ == '__main__':
    n = int(12)
    
    for i in range(0,n):
        print(i**2)

# Write a function

# Python If-Else

If ***n*** is even and in the inclusive range of 6 to 20 , print Weird

If ***n*** is even and greater than 20 , print Not Weird

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    if n%2 !=0:
        print("Weird")
    else:
        if n>=6 and n<=20:
            print("Weird")
        else:
            print("Not Weird")

# Next